footer a{
    text-decoration: none;
    color: gray;
}

footer a:hover{
    color: blue;
}

footer p a{
    color: blue;
}
footer p a:hover{
    color: black;
}
footer .links p a{
    font-weight: 500;
    margin-right: 10px;
    text-decoration: none;
    color: gray;
}

footer .links p a:hover{
    color: blue;
}